@import "tailwindcss";

@theme {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: oklch(0.05 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-card: oklch(0.1 0 0);
  --color-card-foreground: oklch(0.985 0 0);
  --color-popover: oklch(0.05 0 0);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.985 0 0);
  --color-primary-foreground: oklch(0.05 0 0);
  --color-secondary: oklch(0.2 0 0);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.2 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-accent: oklch(0.85 0.2 60);
  --color-accent-foreground: oklch(0.05 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.2 0 0);
  --color-input: oklch(0.2 0 0);
  --color-ring: oklch(0.708 0 0);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.05 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.05 0 0);
  --sidebar-accent: oklch(0.2 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.2 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  @tailwind components;
}

@layer utilities {
  @tailwind utilities;
}